<div class="row">
  <div class="col-md-12">
    <h2>Admin Orders Index</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Description</th>
          <th scope="col">Checkout Date</th>
          <th scope="col">Revenue</th>
          <th scope="col">Customer Email</th>
          <th scope="col">Customer State</th>
          <th scope="col">View Order</th>
        </tr>
      </thead>
      <tbody>
        {{#each transactions as |t|}}
          <tr>
            <td>{{t._id}}</td>
            <td>{{t.userInfo.firstName}} {{t.userInfo.lastName}}</td>
            <td>{{mdyyyy t.createdAt}}</td>
            <td>${{cartTotal t.cartContents}}</td>
            <td>{{t.userInfo.email}}</td>
            <td>{{t.userInfo.state}}</td>
            <td>
              <a href="/admin/orders/{{t._id}}"><button type="button" class="btn btn-primary btn-sm">Details</button></a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
  
