<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <form class="form-inline" action="/products" method="get">
      <div class="form-group">
        <label for="filterByCategory">Category</label>
        <select class="form-control" id="filterByCategory" name="selections[category]">
          {{#each categories as |category|}}
            <option value="{{category.name}}">{{category.name}}</option>
          {{/each}}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Choose</button>
    </form>
    {{!--Creates a button to display and clear the current filter--}}
    {{#if searchSettings.category}}
      {{> products/_filter-card thisFilter=searchSettings.category filterName="category"}}
    {{/if}}
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <form class="form-inline" action="/products" method="get">
      <div class="form-group">
        <label for="filterByMinPrice">Min</label>
        <select class="form-control" id="filterByMinPrice" name="selections[minPrice]">
          <option value=""></option>
          {{#each priceIncrements as |price|}}
            <option value="{{price}}">{{price}}</option>
          {{/each}}
        </select>
        <label for="filterByMaxPrice">Max</label>
        <select class="form-control" id="filterByMaxPrice" name="selections[maxPrice]">
          <option value=""></option>
          {{#each priceIncrements as |price|}}
            <option value="{{price}}">{{price}}</option>
          {{/each}}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Set Price Range</button>
      <br>
    </form>
    {{!--Creates a button to display and clear the current filter--}}
    {{#if searchSettings.minPrice}}
      {{> products/_filter-card thisFilter=searchSettings.minPrice filterName="minPrice"}}
    {{/if}}
    {{#if searchSettings.maxPrice}}
      {{> products/_filter-card thisFilter=searchSettings.maxPrice filterName="maxPrice"}}
    {{/if}}
  </div>