<div class="product-card text-center">
  <img src="{{product.imageUrl}}" alt="{{product.name}}" class="img-rounded img-thumbnail center-block">
  <p>{{product.price}}</p>
  <p>{{product.name}}</p>
  <p>{{product.category}}</p>
</div> {{!--product-card--}}